<nav class="primary-menu" aria-labelledby="primary_menu_header">
    <div id="primary_menu_header" class="title hidden">Primary Menu</div>
    <ul class="primary-menu__list">
        <li><a href="">About</a></li>
        <li><a href="">What We Do</a></li>
        <li><a href="">Contact</a></li>
    </ul>    
</nav>