<nav class="secondary-menu" aria-labelledby="secondary_menu_header">
    <div id="secondary_menu_header" class="title hidden">Secondary Menu</div>
    <ul class="secondary-menu__list">
        <li><a href="">About</a></li>
        <li><a href="">What We Do</a></li>
        <li><a href="">Contact</a></li>
    </ul>    
</nav>