<nav class="tertiary-menu">
    <ul class="tertiary-menu__list">
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Cookie Policy</a></li>
        <li><a href="">Contact Us</a></li>
    </ul>    
</nav>