<main id="site_content" class="site-content" aria-label="Main Site Content" tabindex="-1">
    <div class="site-content__row">
        <div class="site-content__row--inner">
            {{> ../modules/hero }}
            {{> ../modules/spotlight }}
            {{> ../modules/services }}
            {{> ../modules/projects }}
            {{> ../modules/infographics }}
        </div>
    </div>
</main>