.site-content {
    position: relative;
}

body:not(.home) {
    .site-content {
        &__row {
            border-radius: 10px;
            box-shadow: 2px 2px 20px rgba($c-grey, .1);
            background-color: $c-white;

            &--inner { 
                margin: 2rem 0; 
                padding: 1rem;
            }

            @include respond-to($vp-max) {
                @include width-constrain;

                &--inner { padding: 3rem; }
            }
        }
    }
}