<div id="hero_wrapper" class="module hero-wrapper">
    <div class="row">
        <div class="row-inner">
            <section class="hero content" aria-labelledby="hero_header">      
                <div class="content-inner">        
                    <div class="content-summary">
                        <div class="content-title">
                            <h2 id="hero_header" class="title title-section"><span class="hidden">Hero</span></h2>
                        </div>
                        <div class="content-links">
                            <button class="action action-play">
                                <span class="action-inner hidden">Play Button</span>
                            </button>
                        </div>
                        <div class="content-text">
                            <p>We specialise in the design, development & support of WordPress websites.</p>
                        </div>
                    </div>

                    <div class="content-image">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="images/hero.jpg" alt="Image 1"></div>
                                <div class="swiper-slide"><img src="https://source.unsplash.com/6d3rldyNBmM/950x1500" alt="Image 2"></div>
                                <div class="swiper-slide"><img src="https://source.unsplash.com/TIMCZe9JghI/950x1500" alt="Image 3"></div>
                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>  
            </section>

            {{> quicklinks-hero }}
        </div>
    </div>
</div>