<div id="infographics_wrapper" class="module infographics-wrapper" style="background-image: url(images/bg-infographics.jpg)">
    <div class="row">
        <div class="row-inner">
            <section class="infographics content" aria-labelledby="infographics_header">      
                <div class="content-inner">        
                    <div class="content-summary">
                        <div class="content-title">
                            <h2 id="infographics_header" class="title title-section"><span class="hidden">Infographics</span></h2>
                        </div>
                        <div class="content-list">
                            <ul>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="46.377" height="47.643"><path data-name="Path 325" d="M38.038 27.51l-12.577-7.378h7.021V0H12.351v20.132h7.31L8.284 27.51H0v20.133h20.13V27.51h-7.707L22.416 21l11.557 6.51h-7.729v20.133h20.133V27.51zM16.111 3.914h12.613v12.614H16.111zm.263 27.512V44.04H3.761V31.426zM42.618 44.04H30.01V31.426h12.61V44.04z" fill="#77cc6d"/></svg>
                                    <div class="info-num">700</div>
                                    <div class="info-name">Projects</div>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="54.861" height="48.23"><g transform="translate(0 -32.123)" fill="#77cc6d"><ellipse data-name="Ellipse 4" cx="9" cy="9.5" rx="9" ry="9.5" transform="translate(18.43 32.123)"/><circle data-name="Ellipse 5" cx="6" cy="6" r="6" transform="translate(40.43 39.123)"/><circle data-name="Ellipse 6" cx="6" cy="6" r="6" transform="translate(2.43 39.123)"/><path data-name="Path 326" d="M14.378 56.422c-2.32-1.9-4.421-1.649-7.1-1.649A7.262 7.262 0 000 62.005v11.7a3.148 3.148 0 003.151 3.139c7.5 0 6.6.136 6.6-.324 0-8.286-.982-14.37 4.627-20.098z"/><path data-name="Path 327" d="M29.981 54.815c-4.685-.391-8.757 0-12.27 2.9-5.878 4.708-4.747 11.048-4.747 18.8a3.759 3.759 0 003.752 3.752c22.617 0 23.518.73 24.859-2.241.44-1 .319-.685.319-10.294-.001-7.624-6.607-12.917-11.913-12.917z"/><path data-name="Path 328" d="M47.585 54.772c-2.7 0-4.786-.249-7.1 1.649 5.568 5.685 4.628 11.351 4.628 20.1 0 .462-.75.324 6.487.324a3.261 3.261 0 003.264-3.251v-11.59a7.262 7.262 0 00-7.279-7.232z"/></g></svg>
                                    <div class="info-num">1000</div>
                                    <div class="info-name">Clients</div>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"><g data-name="Group 5"><g data-name="Group 4"><path data-name="Path 329" d="M44.427 19.938a1.406 1.406 0 00-1.895.6l-1.636 3.167-1.575-3.15a1.406 1.406 0 00-2.516 0l-1.555 3.109-1.555-3.109a1.406 1.406 0 00-1.344-.77l-.085.005a1.407 1.407 0 00-1.277 1.06 1.405 1.405 0 00-2.622-.29l-1.552 3.108-1.555-3.109a1.406 1.406 0 00-2.516 0l-1.555 3.109-1.555-3.109a1.405 1.405 0 00-2.622.29 1.407 1.407 0 00-1.278-1.064h-.086a1.406 1.406 0 00-1.344.775l-1.555 3.109-1.555-3.109a1.408 1.408 0 00-2.516 0l-1.575 3.151-1.636-3.167a1.407 1.407 0 10-2.5 1.291l2.906 5.625a1.406 1.406 0 002.507-.017l1.555-3.11 1.555 3.109a1.407 1.407 0 002.516 0l2.62-5.241a1.4 1.4 0 00.384-.669 1.412 1.412 0 00.105.285l2.813 5.625a1.407 1.407 0 002.516 0l1.555-3.109 1.555 3.109a1.407 1.407 0 002.516 0l2.813-5.625a1.408 1.408 0 00.105-.284 1.4 1.4 0 00.384.669l2.62 5.24a1.407 1.407 0 002.516 0l1.555-3.109 1.555 3.109a1.406 1.406 0 002.507.017l2.906-5.625a1.406 1.406 0 00-.604-1.896z" fill="#77cc6d"/></g></g><g data-name="Group 7"><g data-name="Group 6"><path data-name="Path 330" d="M46.222 14.937a24 24 0 00-44.443 0A4.215 4.215 0 000 18.375v11.25a4.215 4.215 0 001.778 3.438 24 24 0 0044.443 0A4.215 4.215 0 0048 29.625v-11.25a4.215 4.215 0 00-1.778-3.438zm-3.468-.781h-7.189A27 27 0 0031.5 4.57q-.186-.258-.376-.5a21.444 21.444 0 0111.63 10.086zM25.406 3.048c3.848 1.292 6.254 7.117 7.264 11.108h-7.264zm-2.812 0v11.108h-7.265a23.565 23.565 0 013.45-7.941 8.413 8.413 0 013.815-3.167zm-5.719 1.02q-.19.244-.376.5a27 27 0 00-4.063 9.587h-7.19A21.444 21.444 0 0116.875 4.068zM5.246 33.844h7.189a26.456 26.456 0 004.44 10.088A21.444 21.444 0 015.246 33.844zm17.348 11.108c-3.848-1.292-6.254-7.117-7.264-11.108h7.264zm2.812 0V33.825h7.264c-1.011 3.997-3.424 9.838-7.264 11.127zm5.719-1.02a26.537 26.537 0 004.44-10.107h7.189a21.477 21.477 0 01-11.629 10.107zm14.063-14.307a1.408 1.408 0 01-1.406 1.406H4.219a1.408 1.408 0 01-1.406-1.406v-11.25a1.408 1.408 0 011.406-1.406h39.562a1.408 1.408 0 011.406 1.406z" fill="#77cc6d"/></g></g></svg>
                                    <div class="info-num">800</div>
                                    <div class="info-name">Websites</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>  
            </section>
        </div>
    </div>
</div>