<div id="projects_wrapper" class="module projects-wrapper">
    <div class="row">
        <div class="row-inner">

            <section class="projects" aria-labelledby="projects_header">              
                <div class="content-inner">        
                    <div class="content-summary">
                        <div class="content-tabs">
                            <ul>
                                <li><a class="active">All</a></li>
                                <li><a>Graphic</a></li>
                                <li><a>Videos</a></li>
                                <li><a>Webdesign</a></li>
                                <li><a>Branding</a></li>
                            </ul> 
                        </div>

                        <div class="content-title">
                            <h2 id="projects_header" class="title title-mega">Projects</h2>
                        </div>

                        <div class="content-list">
                            <article class="item">
                                <figure class="item-img"><img class="img-fluid" src="images/project1.jpg" alt="Project 1"></figure>
                                <div class="item-summary">
                                    <h3>Duis dictumst posuere</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                                </div>
                                <div class="item-tags">
                                    <ul>
                                        <li><a href="" class="c-orange">Design</a></li>
                                        <li><a href="" class="c-pure-blue">Mobile</a></li>
                                    </ul>
                                </div>
                            </article>

                            <article class="item">
                                <figure class="item-img"><img class="img-fluid" src="images/project2.jpg" alt="Project 2"></figure>
                                <div class="item-summary">
                                    <h3>Duis dictumst posuere</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                                </div>
                                <div class="item-tags">
                                    <ul>
                                        <li><a href="" class="c-purple">Website</a></li>
                                    </ul>
                                </div>
                            </article>

                            <article class="item">
                                <figure class="item-img"><img class="img-fluid" src="images/project3.jpg" alt="Project 3"></figure>
                                <div class="item-summary">
                                    <h3>Duis dictumst posuere</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                                </div>
                                <div class="item-tags">
                                    <ul>
                                        <li><a href="" class="c-pink">Branding</a></li>
                                        <li><a href="" class="c-purple">Website</a></li>
                                    </ul>
                                </div>
                            </article>

                            <article class="item">
                                <figure class="item-img"><img class="img-fluid" src="images/project4.jpg" alt="Project 4"></figure>
                                <div class="item-summary">
                                    <h3>Duis dictumst posuere</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                                </div>
                                <div class="item-tags">
                                    <ul>
                                        <li><a href="" class="c-pure-blue">Mobile</a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>

                        <div class="content-links">
                            <a href="" class="action action-link"><span class="action-inner">More Projects</span></a>
                        </div>

                    </div>
                </div>
            </section>        
        </div>
    </div>
</div>