<div id="services_wrapper" class="module services-wrapper">
    <div class="row">
        <div class="row-inner">

            <section class="services" aria-labelledby="services_header">              
                <div class="content-inner">        
                    <div class="content-summary">

                        <div class="content-title">
                            <h2 id="services_header" class="title title-mega">Services</h2>
                        </div>
                        <div class="content-list">
                            <ul>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="158" height="158" viewBox="0 0 158 158"><g transform="translate(-328 -2465)"><g transform="translate(328 2465)" fill="none" stroke="#d700ff" stroke-linecap="square" stroke-width="2" stroke-dasharray="122"><circle cx="79" cy="79" r="79" stroke="none"/><circle cx="79" cy="79" r="78" fill="none"/></g><path d="M88.68,13.858a1.172,1.172,0,0,1-1.172,1.172H58.143a1.172,1.172,0,0,1,0-2.344H87.508A1.172,1.172,0,0,1,88.68,13.858Zm14.917,0v8.457a5.407,5.407,0,0,1-5.4,5.4H77.054A3.06,3.06,0,0,0,74,30.772v3.057h1.4a2.827,2.827,0,0,1,2.824,2.824V67.176A2.827,2.827,0,0,1,75.4,70H70.249a2.827,2.827,0,0,1-2.824-2.824V36.652a2.827,2.827,0,0,1,2.824-2.824h1.4V30.771a5.407,5.407,0,0,1,5.4-5.4H98.2a3.06,3.06,0,0,0,3.056-3.056V13.857A3.06,3.06,0,0,0,98.2,10.8H95.14v3.981a4.48,4.48,0,0,1-4.475,4.475h-24.1v3.389a3.543,3.543,0,0,1-4.741,3.334v2.448a3.542,3.542,0,0,1-7.085,0V19.251a4.481,4.481,0,0,1-4.229-4.469V4.475A4.48,4.48,0,0,1,54.987,0H90.664A4.48,4.48,0,0,1,95.14,4.475V8.457H98.2A5.407,5.407,0,0,1,103.6,13.857Zm-39.376,5.4H57.084v9.171a1.2,1.2,0,1,0,2.4,0V22.647a1.172,1.172,0,0,1,2.344,0,1.2,1.2,0,0,0,2.4,0ZM92.8,4.475a2.134,2.134,0,0,0-2.131-2.131H54.987a2.134,2.134,0,0,0-2.132,2.131V14.782a2.134,2.134,0,0,0,2.132,2.131H90.664A2.134,2.134,0,0,0,92.8,14.782Zm-22.547,31.7a.486.486,0,0,0-.48.48V67.176a.486.486,0,0,0,.48.48H75.4a.486.486,0,0,0,.48-.48V36.652a.486.486,0,0,0-.48-.48Z" transform="translate(329.489 2509)" fill="#d700ff"/></g></svg>
                                    <div class="content-text">
                                        <span class="first-line">Development</span>
                                        <span class="second-line">Automate your site & your business and improve your profit margin</span>
                                    </div>
                                    <div class="content-links">
                                        <a href="" class="action action-link"><span class="action-inner">Read More</span></a>
                                    </div>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="158" height="158" viewBox="0 0 158 158"><g transform="translate(-832 -2465)"><path d="M49.9,17.274a1.312,1.312,0,0,1,1.312-1.312h.37a1.312,1.312,0,1,1,0,2.624h-.37A1.312,1.312,0,0,1,49.9,17.274ZM80.135,2.624h.37A1.312,1.312,0,1,0,80.5,0h-.37a1.312,1.312,0,0,0,0,2.624ZM46.672,37.879l-.262.262A1.312,1.312,0,1,0,48.265,40l.262-.262a1.312,1.312,0,1,0-1.855-1.856Zm10.255,9.1a1.312,1.312,0,1,0-1.855,1.855l.261.261a1.312,1.312,0,0,0,1.855-1.855ZM95.594,11.795h.37a1.312,1.312,0,0,0,0-2.624h-.37a1.312,1.312,0,0,0,0,2.624ZM71.871,14.753a1.312,1.312,0,0,0,1.855,0L75.476,13l1.75,1.75A1.312,1.312,0,0,0,79.082,12.9l-1.75-1.75,1.75-1.75a1.312,1.312,0,0,0-1.855-1.855l-1.75,1.75-1.75-1.75A1.312,1.312,0,0,0,71.871,9.4l1.75,1.75-1.75,1.75A1.312,1.312,0,0,0,71.871,14.753ZM78.843,45.9V76.035a3.965,3.965,0,0,1-7.93,0V45.9a3.965,3.965,0,1,1,7.93,0Zm-2.624,0a1.343,1.343,0,0,0-1.341-1.341A1.359,1.359,0,0,0,73.536,45.9V76.035a1.341,1.341,0,1,0,2.682,0Zm21.2-14.345a1.312,1.312,0,0,0,0-1.855l-1.75-1.75,1.75-1.75a1.312,1.312,0,1,0-1.855-1.855l-1.75,1.75-1.75-1.75A1.312,1.312,0,0,0,90.2,26.2l1.75,1.75L90.2,29.7a1.312,1.312,0,1,0,1.855,1.855L93.809,29.8l1.751,1.751a1.312,1.312,0,0,0,1.855,0Zm-.556,9.141-.262.262a1.312,1.312,0,1,0,1.855,1.856l.262-.262a1.312,1.312,0,0,0-1.855-1.856ZM56.106,27.948l1.75-1.75A1.312,1.312,0,1,0,56,24.343l-1.75,1.75-1.75-1.75A1.312,1.312,0,1,0,50.646,26.2l1.75,1.75-1.75,1.75A1.312,1.312,0,1,0,52.5,31.554l1.75-1.75L56,31.554A1.312,1.312,0,0,0,57.856,29.7Zm52.285-.352-.262-.261a1.312,1.312,0,0,0-1.854,1.856l.262.261a1.312,1.312,0,0,0,1.855-1.856ZM88.609,17.851,82.288,29.81l6.321,11.959a1.312,1.312,0,0,1-1.773,1.773L74.877,37.22,62.919,43.541a1.312,1.312,0,0,1-1.773-1.773l6.32-11.959-6.32-11.958a1.312,1.312,0,0,1,1.773-1.773L74.877,22.4l11.959-6.321a1.312,1.312,0,0,1,1.773,1.773ZM84.3,20.385,75.49,25.042a1.311,1.311,0,0,1-1.226,0l-8.811-4.657L70.11,29.2a1.312,1.312,0,0,1,0,1.226l-4.657,8.811,8.811-4.657a1.311,1.311,0,0,1,1.226,0L84.3,39.234l-4.657-8.811a1.312,1.312,0,0,1,0-1.226ZM62.491,6.362l.261-.262A1.312,1.312,0,0,0,60.9,4.246l-.261.261a1.312,1.312,0,0,0,1.855,1.855Z" transform="translate(833.974 2504)" fill="#5400ff"/><g transform="translate(832 2465)" fill="none" stroke="#5400ff" stroke-linecap="square" stroke-width="2" stroke-dasharray="122"><circle cx="79" cy="79" r="79" stroke="none"/><circle cx="79" cy="79" r="78" fill="none"/></g></g></svg>
                                    <div class="content-text">
                                        <span class="first-line">Design</span>
                                        <span class="second-line">Bespoke website design to the odd tweak here and there; we've got it covered</span>
                                    </div>
                                    <div class="content-links">
                                        <a href="" class="action action-link"><span class="action-inner">Read More</span></a>
                                    </div>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="158" height="158" viewBox="0 0 158 158"><g transform="translate(-1316 -2465)"><path d="M40.439,26.57a1.271,1.271,0,0,1,0-2.542h7.573a1.271,1.271,0,1,1,0,2.542ZM42.24,56.3a7.91,7.91,0,0,0,7.9,7.9H85.9v-.321a2.936,2.936,0,0,1,2.932-2.932h4.845a1.271,1.271,0,0,1,1.271,1.271v6.506A1.271,1.271,0,0,1,93.672,70H88.828A2.936,2.936,0,0,1,85.9,67.068v-.321H50.141a10.443,10.443,0,0,1,0-20.887H84.5a7.936,7.936,0,0,0,7.9-7.951V10.443a7.91,7.91,0,0,0-7.9-7.9c-4.22,0-4.782.533-9.157,4.683L69.457,12.8a10.1,10.1,0,0,1-.862,13.279l-5.479,5.479a1.271,1.271,0,0,1-1.8,0L48.855,19.095a1.271,1.271,0,0,1,0-1.8l5.479-5.479A10.1,10.1,0,0,1,67.665,11l5.929-5.615C78.064,1.14,79.266,0,84.5,0A10.455,10.455,0,0,1,94.943,10.443V37.91A10.481,10.481,0,0,1,84.5,48.4H50.141A7.91,7.91,0,0,0,42.24,56.3ZM66.821,13.641l-.048-.048a7.55,7.55,0,0,0-10.642.023l-4.58,4.58L62.216,28.862l4.58-4.58A7.549,7.549,0,0,0,66.821,13.641ZM88.438,67.068a.4.4,0,0,0,.39.39H92.4V63.494H88.828a.4.4,0,0,0-.39.39ZM43.81,36.333a1.271,1.271,0,0,0,1.8,0l5.355-5.355a1.271,1.271,0,0,0-1.8-1.8L43.81,34.536A1.271,1.271,0,0,0,43.81,36.333Zm13.5-20.957a1.271,1.271,0,1,0,1.8,1.8,2.977,2.977,0,0,1,2.121-.874h0a2.978,2.978,0,0,1,2.122.874,1.271,1.271,0,0,0,1.8-1.8A5.549,5.549,0,0,0,57.314,15.377ZM56.1,40.117V32.545a1.271,1.271,0,0,0-2.542,0v7.573a1.271,1.271,0,0,0,2.542,0Z" transform="translate(1327.832 2509)" fill="#ff9100"/><g transform="translate(1316 2465)" fill="none" stroke="#ff9100" stroke-linecap="square" stroke-width="2" stroke-dasharray="122"><circle cx="79" cy="79" r="79" stroke="none"/><circle cx="79" cy="79" r="78" fill="none"/></g></g></svg>
                                    <div class="content-text">
                                        <span class="first-line">Support</span>
                                        <span class="second-line">Focus your time on your business; let us sort out your website</span>
                                    </div>                            
                                    <div class="content-links">
                                        <a href="" class="action action-link"><span class="action-inner">Read More</span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="content-text">
                            <p>Rigorous Digital is a WordPress agency. We're based in the spa town of Cheltenham, but most of the team works remotely from around the world.</p> 
                            <p>We work primarily with Third Sector & Agencies to improve online traffic, visibility and sales so that our client's see a measurable increase in their revenue.</p>
                        </div>

                        <a href="#projects_wrapper" class="action action-next-section"><span class="action-inner hidden">Next Section</span></a>

                    </div>
                </div>
            </section>        
        </div>
    </div>
</div>