<div id="spotlight_wrapper" class="module spotlight-wrapper full-width">
    <div class="row">
        <div class="row-inner">
            <section class="spotlight content" aria-labelledby="spotlight_header">                
                <div class="content-inner">        
                    <div class="content-summary">
                        <div class="content-title">
                            <h2 id="spotlight_header" class="title title-section">
                                <span>Who</span> 
                                <span>We</span>
                                <span>Are</span>
                            </h2>
                        </div>
                        <div class="content-text">
                            <p>Rigorous Digital is a WordPress Agency offering design, development & support, Google Ads, & SEO, working with Third Sector & Agencies. We’re keen on the human touch; meetings over phone calls, phone calls over emails. Our customers come to us because they know we’ll talk to them in English, not programmer doublespeak. We focus on projects we’re really good at, not just any old thing that comes our way. We are also a certified Google Partner for Google Ads.</p> 
                            <p>Our team is experienced in customising WordPress websites to achieve the look you want for your business, consistent with your brand as well as integrating other business software. We make visually beautiful, intuitive, highly functional websites that help your business perform; be that through leads, sales or membership.</p>
                        </div>
                        <div class="content-links">
                            <a href="" class="action action-link"><span class="action-inner">Read More</span></a>
                        </div>
                    </div>

                    <figure class="content-image"><img src="images/spotlight.jpg" alt="Spotlight" class="img-fluid"></figure>
                </div>  
            </section>
        </div>
    </div>
</div>